#create-post {
  z-index: 1001;
  position: fixed;
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  bottom: 0;
  top: 56px;
  background: white;
  text-align: center;
  display: none;
}

/* body {
  
} */

#custom-noti-style{
  background-color: #fff !important;
  color: #000 !important;
}

/* about page - START */
.openButton {
  border: none;
  border-radius: 5px;
  background-color: rgb(63,81,181);
  color: white;
  cursor: pointer;
  position: relative;
}

.aboutPopup {
  position: relative;
  text-align: center;
  width: 100%;
}

.formPopup {
  display: none;
  width: 40%;
  position: fixed;
  padding: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #d5d9e7;
  z-index: 2;
  text-align: center;
  background-color: #ede9e9;
  font-family: cursive;
  font-size: 20px;
  /* filter: blur(8px); */
  /* -webkit-filter: blur(8px); */
}

.btn-cancel .cancel {
  background-color: #cc0000;
}
/* END */

.overlay {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

.submit {
  background: rgb(23, 181, 213);
  background: linear-gradient(90deg, rgba(23, 181, 213, 1) 0%, rgba(2, 0, 36, 1) 0%, rgba(31, 111, 20, 1) 0%);
  border-radius: 8px;
  border: none;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 2px 2px;
  cursor: pointer;
}

.reset {
  background: rgb(23, 181, 213);
  background: linear-gradient(90deg, rgba(23, 181, 213, 1) 0%, rgba(2, 0, 36, 1) 0%, rgba(255, 0, 0, 1) 0%);
  border-radius: 8px;
  border: none;
  color: white;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 2px 2px;
  cursor: pointer;
}

/* .main-image {
  max-width: 100%;
  margin: auto;
  display: block;
} */

.floating-button {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 30px;
}

.input-section {
  display: block;
  margin: 10px auto;
}

.footer {
  text-align: center !important;
  font-style: normal;
  font-size: smaller;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Effects - CC(choice code) */
/* ripple effect */
/* .submit::after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.submit:active::after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
} */